body{
    background: radial-gradient(lightgreen,lightskyblue,mistyrose);
}
.custom h1{
    text-align: center;
}
.custom h2{
    text-align: center;
}
.custom h3{
    text-align: center;
}
.custom h4{
    text-align: center;
}
.custom h5{
    text-align: center;
}